.container{
    background: rgb(125,95,11);
    background: linear-gradient(90deg, rgba(125,95,11,1) 0%, rgba(240,145,36,1) 33%, rgba(255,188,0,1) 37%);
   
    width: 89vw;
    height: 100vh;
    margin: 0 auto;
}
.caja{
    border: 5px solid black;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 20px;

    padding: 10px;
    margin: 10px;

    border-radius: 50%;
    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: steelblue;
    transition: all .5s ease-in-out;
}
.caja:hover{
    background-color: red;
    color: blue;
    cursor: pointer;
    /*transform:rotate(45deg) ;*/
    /*transform: scale(1.1); */
    /*transform: skew(45deg);*/
    transform: translate(40px, 40px);
    -webkit-box-shadow: 23px 25px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 25px 38px 0px rgba(0,0,0,0.75);
    box-shadow: 23px 25px 38px 0px rgba(0,0,0,0.75);

  
}
.caja:active{
    background-color: green;
}